[submodule "SiploELearning"]
	path = SiploELearning
	url = https://github.com/buddhikajay/SiploELearning.git
[submodule "draw"]
	path = draw
	url = https://github.com/buddhikajay/draw.git
[submodule "signalmaster"]
	path = signalmaster
	url = https://github.com/buddhikajay/signalmaster.git
[submodule "docker-coturn"]
	path = docker-coturn
	url = https://github.com/buddhikajay/docker-coturn.git
